html
  head
    title WebGL Raytracer
    link(rel="stylesheet" href="/styles.css")
  body
    image#earth-texture(src="/earth.jpg" class="earth-texture")
    image#earth-bump-map-texture(src="/earth-bump-map.jpg" class="earth-texture")
    canvas#webgl-canvas
    div.text-box.introduction
      strong WebGL Raytracer
      br
      br
      | This is a real time WebGL raytracer. It uses a fragment shader to render realistic looking optical effects such as shadow casting, reflection, and refraction.
    div.text-box.controller
      strong Controls:
      button#orbit-control-toggle
      button#mouse-caster-toggle
    div#hover-modal.text-box.hover-modal
    script(type="text/javascript" src="/bundle.js")
